/*
=============== 
Variables
===============
*/

:root {
  --generalColor: #e8e5e9;
  --whiteColor: #fff;
  --darkColor: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --small-width: 450px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--generalColor);
  color: var(--dark-shadow);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.section {
  padding: 4rem 0;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.title h2 {
  text-transform: uppercase;
}

/* main */
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button home */
.nav-toggle {
  background: transparent;
  border-color: transparent;
  color: var(--whiteColor);
  font-size: 2rem;
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
}

.btn-openmodal {
  background: transparent;
  border: 3px solid var(--whiteColor);
  color: var(--whiteColor);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: var(--transition);
  text-transform: uppercase;
}

.btn-openmodal:hover {
  letter-spacing: 0.5rem;
  background: #00000062;
  color: var(--whiteColor);
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition: var(--transition);
}

.show-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  background: rgba(0, 0, 0, 0.842);
  max-width: var(--fixed-width);
  width: 90vw;
  height: 60vh;
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--whiteColor);
  position: relative;
  border-radius: 0.5rem;
}

.modal-container p {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--whiteColor);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
}

.close-btn:hover {
  color: rgb(0, 162, 255);
}

/* sidebar */
.sidebar {
  position: fixed;
  background: rgba(12, 11, 11, 0.945);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  row-gap: 1rem;
  transform: translateX(-100%);
  transition: var(--transition);
  z-index: 99;
}

.show-sidebar {
  /* back to normal */
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--whiteColor);
  padding: 1rem 0;
}
.sidebar-header h2 {
  padding-left: 1rem;
}
.closebtn {
  font-size: 2rem;
  color: var(--whiteColor);
  background: transparent;
  border: transparent;
  padding-right: 1rem;
  transition: var(--transition);
}

.closebtn:hover {
  color: rgb(0, 162, 255);
}

.links a {
  display: block;
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  padding: 0.75rem 1rem;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  color: var(--whiteColor);
  transition: var(--transition);
  font-size: 1rem;
}

.links a:hover {
  background: rgb(0, 162, 255);
}

.social {
  display: flex;
  padding-bottom: 1rem;
  justify-self: start;
  padding-left: 1rem;
}

.social a {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: var(--whiteColor);
  transition: var(--transition);
}
.social a:hover {
  color: rgb(0, 162, 255);
}

.artikel {
  display: grid;
  padding-left: 1rem;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
}

.artikel li {
  margin-bottom: 1rem;
}
.artikel a {
  color: var(--whiteColor);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.artikel a {
  color: var(--whiteColor);
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.25rem;
}
.artikel a:hover {
  color: var(--whiteColor);
  text-transform: capitalize;
  border-bottom: 2px solid var(--whiteColor);
}

@media screen and (min-width: 992px) {
  .sidebar {
    width: 400px;
  }
}

.hero {
  padding-left: 1rem;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.55)),
    url('https://images.pexels.com/photos/5168816/pexels-photo-5168816.jpeg')
      center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner h2 {
  color: var(--whiteColor);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.hero-banner p {
  color: var(--whiteColor);
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1rem;
}
